#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav a,
#hero-msg h1, #hero-msg h4,
.button-box,
main section {
    text-align: center;
}
#background {
    height: 725px;
}
body {
    background-color: #fcfbfb;
}

header {
    background-color: #DAD7CD (20,30,13, .7);
}

nav a,
nav a:hover,
.home-title,
h4,
.book, .join,
.msg h2,
.msg p,
footer,
footer a,
footer a:hover {
    color: #344E41; 
}

.icon {
    width: 80px;
}

#hero-img {
    width: 100%;
}

nav a,
.book, .join,
footer a {
    text-decoration: none;
}

nav a:hover,
.footer a:hover {
    text-decoration: underline;
}

footer p {
    font-size: 1.2em;
}



